$accent-color: #2196f3;
$header-color: #212121;
$plain-black: #000000;
$plain-white: #ffffff;
$main-text: #757575;
$background-color: #2f303a;
$greyer-white: #f5f4fa;
$icons-bckg: #afb1b8;
$modal-border: #21212133;
$border-bottom: #ececec;
$border-examples: #eeeeeeee;
$pop-up-overlay: rgba(33, 150, 243, 0.9);
$socials-border: rgba(33, 33, 33, 0.2);
$hero-overlay: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);

$trans-type: cubic-bezier(0.4, 0, 0.2, 1);
$trans-time: 250ms;

$centering: translate(-50%, -50%);
